@borderColor: #999;
@blueColor: #7fc9fb;
@width : (1 / 1920* 100vw);
@height : (1 / 1080* 100vh);

html {
  font-size: 100 * @width;
}

html,
body {
  width: 100%;
  height: 1080 * @height;
  box-sizing: border-box;
}

body {
  background: #07123a url(../img/bg.png) no-repeat center;
  background-size: 100% 100%;
  color: #fff;
}

.wrap {
  width: 100vw;
  height: 100vh;
  font-size: 0.16rem;
  font-size: 16 * @width;
  padding: 24 * @height 41 * @width 10 * @height;
  box-sizing: border-box;

  .top {
    width: 18.38rem;
    height: 0.8rem;
    // border: 1px dashed @borderColor;
    margin: 0 auto;
    background: url(../img/t-bg.png) no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    line-height: 0.8rem;
    color: @blueColor;

    .title {
      margin: 0 auto;
      width: 507 * @width;
      text-align: justify;
      text-align-last: justify;
      // font-weight: bold;
      font-size: 0.44rem;
    }
  }

  .container {
    margin: 0 0.17rem;
    display: flex;
    justify-content: space-between;

    .c_left {
      width: 402 * @width;

      .item_box {
        &:first-child {
          h3 {
            background: url(../img/gdqs.png) no-repeat center left;
            background-size: contain;
          }
        }

        &:nth-child(2) {
          h3 {
            background: url(../img/cpxs.png) no-repeat center left;
            background-size: contain;
          }
        }

        &:last-child {
          height: 265 * @height;
          background: url(../img/l-b-bg.png) no-repeat center;
          background-size: 100% 100%;

          h3 {
            background: url(../img/cpdr.png) no-repeat center left;
            background-size: contain;
          }
        }
      }
    }

    .c_right {
      width: 402 * @width;

      .item_box {
        &:first-child {
          h3 {
            background: url(../img/xqps.png) no-repeat center left;
            background-size: contain;
          }
        }

        &:nth-child(2) {
          h3 {
            background: url(../img/ydxq.png) no-repeat center left;
            background-size: contain;
          }
        }

        &:last-child {
          height: 265 * @height;
          background: url(../img/l-b-bg.png) no-repeat center;
          background-size: 100% 100%;

          h3 {
            background: url(../img/scsj.png) no-repeat center left;
            background-size: contain;
          }
        }
      }
    }

    .c_cneter {
      width: calc(100% - 442 * @width * 2);

      .map_box {
        width: 100%;
        height: calc(100% - 280 * @height * 2);
        // border: 1px dashed @borderColor;
        padding: 20 * @height 20 * @width;
        box-sizing: border-box;
        position: relative;

        h3 {
          padding-left: 32 * @width;
          color: @blueColor;
          font-size: 20 * @width;
          background: url(../img/scqy.png) no-repeat center left;
          background-size: contain;
          position: absolute;
          z-index: 1;
        }

        .chart_box {
          height: 100%;
          // border: deeppink 3px solid;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .item_box {
        height: 265 * @height;
        background: url(../img/c-chart-bg.png) no-repeat center;
        background-size: 100% 100%;

        &:nth-child(2) {
          h3 {
            background: url(../img/xmsr.png) no-repeat center left;
            background-size: contain;
          }
        }

        &:nth-child(3) {
          h3 {
            background: url(../img/dqzb.png) no-repeat center left;
            background-size: contain;
          }
        }
      }
    }

    .item_box {
      width: 100%;
      height: 315 * @height;
      // border: 1px dashed @borderColor;
      margin-top: 13 * @height;
      padding: 15 * @height 20 * @width 10 * @height;
      box-sizing: border-box;
      background: url(../img/l-t-bg.png) no-repeat center;
      background-size: 100% 100%;

      h3 {
        padding-left: 32 * @width;
        color: @blueColor;
        font-size: 20 * @width;
      }
    }
  }
}

.chart_box {
  width: 100%;
  height: calc(100% - 20 * @height);
  margin-top: 9 * @height;
  // border: 1px dashed;
}

.moneyBar {
  width: 100%;
  height: 9 * @height;
  background: linear-gradient(270deg, #00FDE8 0%, rgba(0, 251, 204, 0.27) 100%);
}

.numBar {
  width: 100%;
  height: 9 * @height;
  background: linear-gradient(270deg, rgba(58, 160, 255, 0.27) 0%, #3AA0FF 100%);
  float: right;
  // position: absolute;
  // right: 0 * @width;
  // bottom: 0;
}

.sell-swiper {
  height: calc(100% - 30 * @height);
  margin-top: 20 * @height;

  .swiper-container {
    width: 100%;
    height: calc(100% - 40 * @height);
    margin-top: 10 * @height;
    font-size: 12px;
  }

  .swiper-slide {
    height: auto !important;
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  dl {
    display: flex;
    width: 100%;
    font-size: 12px;

    // border-bottom: 1px solid;
    dt {
      color: #7FC9FB;

      &:nth-child(3) {
        color: #3AA0FF;
        text-align: right;
        padding: 0 10 * @width 0 0;
      }

      &:nth-child(4) {
        color: #00FDE8;
        padding: 0 0 0 10 * @width;
      }
    }

    dd {
      &:nth-child(3) {
        position: relative;
        padding: 0 10 * @width 0 0;

        span {
          text-align: right;
        }
      }

      &:nth-child(4) {
        padding: 0 0 0 10 * @width;
        // border-left: 1px solid;
      }
    }

    dt,
    dd {

      &:nth-child(1),
      &:nth-child(2) {
        width: 20%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 30%;
        box-sizing: border-box;
      }

      span {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}


.import {
  &_item {
    display: flex;
    width: 100%;
    height: 54 * @height;
    // border: 1px solid;

    .import_left {
      width: 106 * @width;
      height: 54 * @height;
      font-size: 12 * @width;
      padding: 4*@height 0 0 5*@width;
    }

    .swiper-container {
      width: 100%;
      font-size: 12px;
      margin-left: 20px;
    }

    .swiper-slide {
      height: auto !important;
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    dl {
      display: flex;
      justify-content: space-between;
      width: 100%;
      dd{
        &:nth-child(1) {
          width: calc( 50% - 60*@width );
        }
        &:nth-child(2) {
          width: calc( 50% - 55*@width );
        }
        &:nth-child(3) {
          width: 110*@width;
          text-align: right;
        }
      }
    }

   

    .drsc {
      background: url(/img/drsc.png) no-repeat top left;
      background-size: contain;
    }

    .drjf {
      background: url(/img/drjf.png) no-repeat top left;
      background-size: contain;
    }

    .drkf {
      background: url(/img/drkf.png) no-repeat top left;
      background-size: contain;
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 40 * @height);
    margin-top: 20 * @height;

  }

}

.flower {
  display: inline-block;
  width: 12*@width;
  height: 15*@height;
  background: url(/img/f.png) no-repeat center;
  background-size: contain;
  margin-right: 8*@width;

  &-a {
    background: url(/img/f-a.png) no-repeat center;
    background-size: contain;
  }
}
.maptooltip_box{
  width: 155px;
  height: 126px;
  background: url(/img/tooltip.png) no-repeat center;
  background-size: contain;
  font-size:12px;
  padding: 5px 0;
  h4{
    color: #7FC9FB;
    font-size: 14px;
    padding: 2px 5px;
  }
  .maptooltip_cont{
    // margin-top: 10px;
    p{
      line-height: 25px;
      padding: 2px 6px;
      &:nth-child(2n-1) {
        background-color: rgba(32, 124, 254, 0.15);
      }
    }
  }
}